.about {
   padding-bottom: 60px;

   /* Mobile*/
   @media (max-width: 599px) {
      padding-bottom: 67px;
   }
}

.about__row {
   display: flex;
   justify-content: space-between;

   /* Tablet Big */
   @media (max-width: 1199px) {
      flex-direction: column-reverse;
      align-items: center;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      flex-direction: column;
   }
}
.about__info {
   max-width: 533px;
}
.about__title {
   margin-bottom: 21px;

   /* Mobile*/
   @media (max-width: 599px) {
      font-weight: 700;
      font-size: 30px;
      line-height: 1.83;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      margin-bottom: 5px;
      font-size: 22px;
   }
}
.about__subtitle {
   font-weight: 700;
   font-size: 20px;
   line-height: 2.75;

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 18px;
   }
}
.about__descr {
   margin-bottom: 21px;
   font-weight: 400;
   font-size: 17px;
   line-height: 1.76;

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 16px;
   }
}
.about__list {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
   margin-bottom: 30px;

   /* Mobile*/
   @media (max-width: 599px) {
      row-gap: 17px;
      margin-bottom: 21px;
   }
}
.about__item {
   display: flex;
   align-items: center;
   column-gap: 14px;

   font-weight: 400;
   font-size: 17px;
   line-height: 1.76;

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 16px;
   }
}
.about__avatar {
}
.about__avatar-img {
   margin-bottom: 20px;
   width: 620px;
   height: 461px;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
      drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   border-radius: 0px 100px;
   overflow: hidden;

   /* Tablet Small*/
   @media (max-width: 899px) {
      width: 420px;
      height: 325px;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      width: 356px;
      height: 270px;
      margin-bottom: 14px;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      width: 100%;
      height: unset;
   }
}
.about__avatar-name {
   text-align: right;
   font-weight: 700;
   font-size: 24px;
   line-height: 2.29;

   /* Tablet Small*/
   @media (max-width: 899px) {
      text-align: left;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 19px;
   }
}
.about__avatar-who {
   display: block;
   text-align: right;
   font-weight: 400;
   font-size: 17px;
   line-height: 1.76;

   /* Tablet Small*/
   @media (max-width: 899px) {
      text-align: left;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 16px;
   }
}
.accent-color {
}

.about__subtitle--active {
   /* Tablet Big */
   @media (max-width: 899px) {
      display: none;
   }
}

.about__subtitle--hide {
   display: none;
   .br {
      display: none;
   }

   /* Tablet Big */
   @media (max-width: 899px) {
      display: block;
      margin-bottom: 20px;
   }

   /* Tablet Small*/
   @media (max-width: 899px) {
      .br {
         display: block;
      }
      line-height: 1.75;
   }

   /* Mobile*/
   @media (max-width: 599px) {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.75;
   }

   /* Mobile Small */
   @media (max-width: 374px) {
      font-size: 18px;
   }
}
